@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  text-align: left;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 300px;
  border: #ccc 2px solid;
  text-align: center;
  margin: 1rem auto;
}

form {
  width: 100%;
}

.list_header {
  background-color: rgb(194, 218, 250);
  text-align: left;
  padding: 0.3rem 0.5rem;
}

.add_input {
  width: initial;
  padding: 0.5rem;
  border: none;
  width: 100%;
  max-width: 100%;
}

.contact_name {
  font-weight: bold;
}

.contact_friend_label {
  font-size: 0.7rem;
  margin: auto 0;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0.5rem;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.icons {
  border: #ccc 0.5px solid;
  font-size: 1.8rem;
  height: 35px;
  width: 35px;
  margin: 0 5px;
  padding: 7px;
  border-radius: 6px;
}

.icons:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.card_item {
  align-self: flex-start;
}

.card_icon {
  align-self: flex-end;
}

.arrow {
  height: 20px;
  width: 20px;
}

.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}

.pagination-item.dots:hover {
  background-color: transparent;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.pagination-item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.arrow.left {
  transform: rotate(-135deg);
}

.arrow.right {
  transform: rotate(45deg);
}
